body {

	font-family: 'Open Sans';

}



.g-topnav1 {
    background-image: url(../images/dark_bg_pattern.png);
    font-family: 'Open Sans';
    font-weight: 400;
    color: #dcdcdc;
}

.g-topnav1 .navbar {
    margin-bottom: 0;
    min-height: 23px;
	
    position: relative;
    /*min-height: 50px;
    margin-bottom: 20px;*/
    border: 1px solid transparent;	
}
.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
    border-radius: 0;
}
.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
/*.navbar {
    border-radius: 4px;
}*/
/*.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}*/

.g-topnav1 .navbar .fa {
    font-size: 1.2em;
}

.g-topnav1 .dropdown {
    margin: 5px 0 0 8px;
    display: inline-block;
    font-size: .72em !important;	
}
/*.dropdown {
    display: inline-block;
    font-size: .8em;
    margin: 5px 0;
}*/
.pull-left {
    float: left!important;
}
.navbar-left {
    float: left!important;
}
.collapsing, .dropdown, .dropup {
    position: relative;
}
/*.pull-left {
    float: left;
}*/

.g-topnav1 .dropdown .dropdown-lang-link {
    color: #dcdcdc;
    cursor: pointer;
}
a, a:hover {
    text-decoration: none;
    cursor: pointer;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}


.navbar-right {
    float: right!important;
    /*margin-right: -15px;*/
}

.g-topnav1 .session-timer {
    margin: 5px 8px 0 0;
    display: inline-block;
    font-size: .72em !important;	
}

.pull-right {
    float: right!important;
}



.container {
    width: 970px;
	/*100%;*/
	/*970px;*/
}

.content-container {
	width: 100%;
    /*height: 354px;*/
   /* background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: linear-gradient(to bottom,#f9f9f9,#cecece);*/
}

.container, .container-fluid {
/*    padding-left: 15px;
    padding-right: 15px;*/
    margin-right: auto;
    margin-left: auto;
}

.header-container {
	display: table;	
	content: " ";
	font-size: 14px;
}

.g-header1 {
    background-image: linear-gradient(to bottom,#f9f9f9,#cecece);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f9f9f9', endColorstr='#cecece');
    height: 70px;
	min-width: 1072px;
}

.g-header1 .text-lead {
    font-family: 'Open Sans';
    font-size: 1.45em;
    font-weight: 100;
    margin: 38px 0 0 5px;
    width: 78%;
    float: left;
}

.g-header1 .logo-container {
    position: relative;
    margin-left: 732px;
    margin-top: 30px;
    margin-bottom: -26px;
    background-color: #fff;
    min-width: 175px;
    z-index: 99;
}

/*.g-header1 .logo-container ::after {
    box-sizing: border-box;
}
.g-header1 .logo-container ::before {
    box-sizing: border-box;
}*/

.g-header1 .logo-container .logo-bar-top {
    width: 100%;
    height: 39px;
    background-color: #51AE32;
    margin: 0 0 3px;
}

.g-header1 .logo-container .logo-bar-top .logo {
    width: 75px;
    height: 75px;
    position: relative;
    top: -25px;
    left: -38px;
    background-image: url(../images/meduni_rundlogo.png);
    background-repeat: no-repeat;
}

.g-header1 .logo-container .logo-bar-bottom {
    background-color: #007B3C;
    height: 15px;
    padding-top: 9px;
}

.g-header1 .logo-container .logo-bar-bottom .logo-text {
    margin: 0 0 0 -28px;
    color: #fff;
    font-family: Syntax;
    font-size: .95em;
    letter-spacing: 1px;
}

.g-header1 .logo-container-ext {
    margin-left: 73%;
}

/*.g-header1 .logo-container-ext ::after {
    box-sizing: border-box;
}
.g-header1 .logo-container-ext ::before {
    box-sizing: border-box;
}*/

.g-header1 .logo-container-ext {
    position: relative;
    /*margin-left: 88%;*/
    margin-top: -40px;
	-webkit-margin-before: -61px;
	-moz-margin-before: -61px;
	/*margin-top: -61px;*/
    margin-bottom: -25px;
    background-color: #fff;
    z-index: 1;
}

@-moz-document url-prefix() {
	.g-header1 .logo-container-ext {
		position: relative;
		/*margin-left: 88%;*/
		margin-top: -62px;
		/*margin-top: -61px;*/
		margin-bottom: -25px;
		background-color: #fff;
		z-index: 1;
	}
}

.g-header1 .logo-container-ext .logo-bar-top {
    width: 100%;
    height: 39px;
    background-color: #51AE32;
    margin: 0 0 3px;
}

.g-header1 .logo-container-ext .logo-bar-bottom {
    background-color: #007B3C;
    height: 14px;
    padding-top: 10px;
}

.row-menu {
    background-color: #51AE32;
    height: 26px;
}

.breadcrumb-row {
    background-color: #ededed;
}


.g-footer1 {
    background-image: url(../images/dark_bg_pattern.png);
    min-height: 83px;
    /*margin-top: 15px;*/
    color: #dcdcdc;
    font-size: 0.83em;
    
    padding-left: 15px;
}


.g-footer1 .link-list {
    padding-top: 15px;
    font-size: 1.15em;
}
.list-inline {
    margin-left: -5px;
}
.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-bottom: 10px;
}

.g-footer1 .link-list a, .g-footer1 .link-list a:hover {
    color: #dcdcdc;
    display: inline-block;
}

.g-footer1 .copyright {
    font-size: .9em;
}






body p {
    margin: 5px 0;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    /*line-height: 1.1;*/
    color: inherit;
}

h1, h3 {
    color: grey;
}

.h1, h1 {
    font-size: 36px;
}

h1 {
    margin: 10px 0;
    font-size: 2.5em;
    font-weight: 300;
}

.ce-textpic, .ce-nowrap .ce-bodytext, .ce-gallery, .ce-row, .ce-uploads li, .ce-uploads div {
    overflow: hidden;
}
