

.ctsms-inquiries-content {
    min-height:380px; /*5 fieldsets collapsed*/
    margin-top: 3px;
}


.ui-datagrid-content > div {
    margin-bottom: 3px;
}

.ui-datagrid-content > div:last-child {
    margin-bottom: 0;
}

.ctsms-inputfield-comment-row {
	font-style: italic;
    margin-top: 5px;
}


.ctsms-inputfield-output-row {
	font-family: monospace;
	font-weight: bolder;
    margin-top: 5px;
    line-height: 1.3;
}

.ctsms-inputfield-output-valueerror {
	background-color: red;
	color: black;
}

.ctsms-inputfield-output-outputerror {
	background-color: #fa8072; /* salmon */
	color: black;
}

.ctsms-inputfield-output-nodelta {
	color: green;
}

.ctsms-inputfield-output-delta {
	color: red;
}

.ctsms-inputfield-output {
	color: gray;
}