@font-face{
    font-family:Syntax;
    src:url('../fonts/syntax/syntax.eot');
    src:url('../fonts/syntax/syntax.eot?#iefix') format('embedded-opentype'),
    url('../fonts/syntax/syntax.woff') format('woff'),
    url('../fonts/syntax/syntax.ttf') format('truetype'),
    url('../fonts/syntax/syntax.svg#syntaxregular') format('svg');
    font-weight:300;
    font-style:normal
}

@font-face{
    font-family:Syntax;
    src:url('../fonts/syntax/syntax-bold.eot');
    src:url('../fonts/syntax/syntax-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/syntax/syntax-bold.woff') format('woff'),
    url('../fonts/syntax/syntax-bold.ttf') format('truetype'),
    url('../fonts/syntax/syntax-bold.svg#syntaxbold') format('svg');
    font-weight:800;
    font-style:normal
}