
.ctsms-trials-content {
    min-height:328px;
    margin-top: 3px;
}

.ctsms-signup-description{
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    margin: 3px 1px 3px 1px;
    min-height:150px;
    height:200px;
    overflow-y: auto;
    background: white !important;
}
