
.ctsms-trials-content {
    min-height:328px;
    margin-top: 3px;
}

.ctsms-signup-description{
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    margin: 3px 1px 3px 1px;
    min-height:150px;
    height:200px;
    overflow-y: auto;
    background: white !important;
}


/*.ctsms-trial {
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    margin: 2px;
}

.ctsms-selected-trial {
    border-width: 2px;
}

.ctsms-trial-name {
    font-size: 1.2em;
    font-weight: bold;
}

.ctsms-trial-department {
    font-size: 0.8em;
    text-align: right;
}*/