<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />  <!-- ... mod_expires -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<meta name="robots" content="nofollow" />
[% IF google_site_verification %]
<meta name="google-site-verification" content="[% google_site_verification %]" />
[% END %]
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="description" content="[% l('meta_description') %]">
<link rel="alternate" href="[% request.uri_base %]/?lang=en" hreflang="en" />
<link rel="alternate" href="[% request.uri_base %]/?lang=de" hreflang="de" />
<link rel="shortcut icon" href="[% request.uri_base %]/favicon.ico" type="image/x-icon">
<title>[% l('page_title') %]</title>

<link rel="stylesheet" type="text/css" href="[% request.uri_base %]/css/reset.css" />
<link rel="stylesheet" href="[% request.uri_base %]/themes/aristo/theme.css" />
<link rel="stylesheet" type="text/css" href="[% request.uri_base %]/css/font-awesome.min.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/jquery-ui.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/primeui.min.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/jquery.ui.timepicker.css" />
<script type="text/javascript" src="[% request.uri_base %]/js/jquery.js"></script>
<script type="text/javascript" src="[% request.uri_base %]/js/jquery-ui.js"></script>
<!-- Dependencies of some widgets -->
<script type="text/javascript" src="[% request.uri_base %]/js/plugins/plugins-all.js"></script>
<!-- Mustache for templating support -->
<script type="text/javascript" src="[% request.uri_base %]/js/plugins/mustache.min.js"></script>
<!-- X-TAG for PrimeElements -->
<script type="text/javascript" src="[% request.uri_base %]/js/plugins/jquery.ui.timepicker.js"></script>
<!-- <script type="text/javascript" src="[% request.uri_base %]/js/x-tag-core.min.js"></script> -->
<!-- <script type="text/javascript" src="[% request.uri_base %]/js/primeui.min.js"></script> -->
<script type="text/javascript" src="[% request.uri_base %]/js/primeui.js"></script>
<!-- <script type="text/javascript" src="[% request.uri_base %]/js/primeelements.js"></script> -->

<script type="text/javascript">
  function parseJson(json) {
    return jQuery.parseJSON(json);
  }
  var context = parseJson([% js_context_json %]);

  var ID_SEPARATOR_STRING = context.idSeparatorString;
  
  var ENABLE_GEOLOCATION_SERVICES = context.enableGeolocationServices;
  var FORCE_DEFAULT_GEOLOCATION = context.forceDefaultGeolocation;
  var DEFAULT_GEOLOCATION_LATITUDE = parseFloat(context.defaultGeolocationLatitude);
  var DEFAULT_GEOLOCATION_LONGITUDE = parseFloat(context.defaultGeolocationLongitude);
        
  var REST_API_URL = context.restApiUrl;

  
  //var SESSION_EXPIRED_MESSAGE = 
  var SESSION_TIMER_PATTERN = context.sessionTimerPattern;
  
  $(document).ready(function() {
	$(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });    
    initMainPrimeUI(context);
    initPrimeUI(context);
  });
  
</script>

<link rel="stylesheet" href="[% request.uri_base %]/css/default.css" />

<link rel="stylesheet" type="text/css" href="[% request.uri_base %]/css/open-sans.css" />
<link rel="stylesheet" type="text/css" href="[% request.uri_base %]/css/syntax.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/corporate.css" />

<script type="text/javascript" src="[% request.uri_base %]/js/date.js"></script>
<script type="text/javascript" src="[% request.uri_base %]/js/countdown.js"></script>
<script type="text/javascript" src="[% request.uri_base %]/js/sprintf.js"></script>
<script type="text/javascript" src="[% request.uri_base %]/js/common.js"></script>

[% head %]

</head>
<body>
<div id="header" >

[% IF language_menu != 1 %]      
<div class="g-topnav1">
  <div class="container">
    <div class="navbar navbar-static-top">
      <div class="navbar-left pull-left dropdown">
        <i class="fa fa-globe"></i>
    [% IF selected_lang != 'en' %]
        <a href="[% request.uri_base %][% request.path %]?lang=en" class="dropdown-toggle dropdown-lang-link">English</a>
    [% ELSE %]
        <a href="[% request.uri_base %][% request.path %]?lang=de" class="dropdown-toggle dropdown-lang-link">Deutsch</a>
    [% END %]        
      </div>
      <div class="navbar-right pull-right session-timer">
        <i id="session_timer_icon" class="fa fa-clock-o"></i>
        <span id="session_timer"></span>
      </div>
    </div>
  </div>
</div>
[% END %]        

<div class="g-header1">
  <div class="container header-container">
    <h1 class="text-lead">[% l('lead_label') %]</h1>
    <div class="logo-container">
      <div class="logo-bar-top hidden-xs">
        <a href="/"><div class="logo"></div></a>
      </div>
      <div class="logo-bar-bottom">
        <h1 class="logo-text">[% l('logo_label') %]</h1>
      </div>
    </div>
  </div>
  <div class="logo-container-ext hidden-xs">
    <div class="logo-bar-top">
    </div>
    <div class="logo-bar-bottom">
    </div>
  </div>      
</div>

<div class="row-menu"></div>

<div class="breadcrumb-row">
<div class="container">  
  <div class="ui-grid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-[%- language_menu == 1 ? '10' : '12' -%]">

  <ul id="navigation">
[% FOREACH navigation_option = navigation_options %]
  [% IF navigation_option.url %]
    <li><a href="[% navigation_option.url %]">[% navigation_option.label %]</a></li>
  [% ELSE %]
    <li><div class="ui-menuitem-link ui-state-disabled"><span class="ui-menuitem-text">[% navigation_option.label %]</span></div></li>
  [% END %]
[% END %]
  </ul>      
      
      </div>
[% IF language_menu == 1 %]      
      <div class="ui-grid-col-2">

  <ul id="lang" >
    <li><a data-icon="fa-globe">[% l('lanuage_menu_label') %]</a>
      <ul>
  [% FOREACH lang_option = lang_options %]
        <li><a data-icon="fa-check[% selected_lang == lang_option.lang ? '' : ' fa-blank' %]" href="[% request.uri_base %][% request.path %]?lang=[% lang_option.lang %]">[% lang_option.lang_label %]</a></li>
  [% END %]
      </ul>
    </li>
  </ul>      
      
      </div>
[% END %]

    </div>
  </div>
</div>  
</div>
</div>
<div class="content-container">
<div id="content" class="container">
[% content %]
</div>
</div>
<div id="footer">
  <div id="wait_dlg" title="[% l('wait_dlg_title') %]">
    <div class="ui-dlg-loader"><div class="ui-dlg-loading"></div></div>
  </div>



<div class="g-footer1">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-pull-4 col-sm-8 col-md-pull-4 col-md-8">
        <ul class="link-list list-inline">
          <a href="http://www.medunigraz.at/[%- selected_lang -%]/impressum/">[% l('about_us_link_label') %]</a>|<a href="http://www.medunigraz.at/[%- selected_lang -%]/kontakt/">[% l('contact_link_label') %]</a>|<a href="http://www.medunigraz.at/[%- selected_lang -%]/webredaktion/">[% l('editorial_office_link_label') %]</a>
        </ul>
        <div class="copyright">[% l('copyright_label') %]</div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>



</div>
</body>
</html>
